.card-table{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 90vh;
}
.table{
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hand{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
